<div class="col-md-8" id="chatsection">
  <div class="row">
    <div id="chatlist" class="col-md-12">
      <div class="row" id="chatmessage">

      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom col-md-12">
      <form class="row">
        <input type="text" placeholder="name" class="col-md-offset-1 col-md-9">
        <button type="submit" class="btn btn-primary col-md-1">SEND</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4" id="listsection">
  <div class="row">
    <div id="userlist" class="col-md-12">
    </div>
    <div id="grouplist" class="col-md-12">
    </div>
  </div>
</div>
