<div class="col-md-12" id="loginsection">
  <form class="row">
    <input type="text" placeholder="name" class="col-md-offset-4 col-md-3">
    <button type="submit" class="btn btn-primary col-md-1">JOIN</button>
  </form>
</div>
